<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style type="text/css">
.bs-example{
    margin: 0px;
}
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;
}

</style>
</head>
<body>

<div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <h7 class="navbar-brand">Library Management</h7>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

            <div class="navbar-nav">
                <a href= "{% url 'studentpage' %}" class="nav-item nav-link">Home</a>
            </div>
            <div class="navbar-nav">
                <a href= "{% url 'studentupdate' %}" class="nav-item nav-link">Edit Profile</a>
                <a href= "{% url 'logout' %}" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>
