<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style media="screen">

    .alert{
      margin: 0px;
    }
    .lead{
      margin-left: 30px;
      margin-right: 30px;
    }
    .lead2{
      text-align: center;
    }
    </style>

<title>Library</title>
  </head>
  <body style="background-color: rgb(214, 212, 212);">

  {% include "parts/navbar.html" %}
<br><br>
<center><h3 class = 'alert alert-success'>About us !</h3></center>
<br>
  <h1 class="display-4" style="text-align: center;">Hello, Reader!</h1>
  <br>
  <p class="lead">Cairo University library stems its objectives from its educational institution. The success of the university in accomplishing its message 
    depends on the validity of its libraries, which are responsible for the educational and research process at the university. The mission of 
    the library is part and parcel of the message of the university as being centerd on education, research and community service. It helps the 
    student, the researcher, and the professor carry cut their job as it provides them with the varied sources of information. Besides, the library 
    sorts out these sources and keeps them. Similarly, it is responsible for orienting library frequenters to know how to find out sources of 
    information and how to make advantage of them.</p>
  <hr class="my-4">
  <p class="lead2">Explore our Website.</p>
  <p class="lead2">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
</div>

  </body>
</html>
