<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Library</title>
<style>
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
h1{
  text-align: center;
}
</style>
  </head>
  <body style="background-color: rgb(214, 212, 212);">
    {% include "parts/adminnavbar.html" %}
    <br> <br>
    <center><h3 style=" margin-bottom: 0px;"class = 'alert alert-success'>Welcome to Online library !</h3></center>
    <br>
    <h1 class="display-4">Hello {{user.first_name}} !</h1>
    <hr class="my-4">
    <p>Option Available For You</p>
    <div class="options" style="text-align:center">
      <a href="addbook" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Book To Library</a><br><br>
      <a href="adminbooks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Browse Books</a><br><br>
    </div>
    </div>
  </body>
</html>